@import '../../../app/style/variables.scss';

.forgot-password-page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.forgot-password-page {
    max-width: 700px;
    min-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: $background-white;
    border-radius: $border-radius-sm;
    font-family: 'Montserrat', sans-serif;


    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    }

    &__subtitle {
        font-size: 1rem;
        color: $text-secondary;
        margin-bottom: 2rem;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

}