.nav {
    display: flex;
    gap: 16px;
    padding: 12px;
    flex-wrap: wrap;


    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        padding: 12px 20px;
        background-color: #fff;
        border: none;
        border-radius: 14px;
        font-weight: 500;
        color: #0E2E5B;

        cursor: pointer;

        box-shadow:
            0 4px 12px rgba(0, 0, 0, 0.06),
            inset 0 0 0 1px rgba(0, 0, 0, 0.05);

        transition: all 0.2s ease;

        &:hover {
            box-shadow:
                0 6px 18px rgba(0, 0, 0, 0.08),
                inset 0 0 0 1px rgba(0, 0, 0, 0.08);
            transform: translateY(-1px);
        }

        &:active {
            transform: translateY(0);
        }
    }

    .nav__icon {
        font-size: 16px;
        opacity: 0.75;
        display: flex;
        align-items: center;

        svg{
            color: #0E2E5B;
        }

    }

    .nav__text {
        white-space: nowrap;
        font-size: 1rem;
        @media (max-width:370px) {
            
            font-size: 0.71rem;
        }
    }

}